<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Classroom</title>
    <link href="/university/sources/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>

<div class="container">
    <div class="mt-5">
        <a href="/university/classrooms?sort=id" class="btn btn-outline-primary mb-2" role="button">Back to
            classrooms...</a>
        <h2 class="text-primary">Classroom details</h2>

        <form class="row g-3" method="POST" th:action="@{/classrooms/update}" th:object="${classroom}">
            <input type="text" class="invisible" style="height:0;width:0;padding:0;border:none" th:field="*{id}">

            <!-- Name and capacity-->
            <div class="row g-3">
                <div class="col-md-4">
                    <label for="name" class="form-label">Classroom name</label>
                    <input type="text" class="form-control" id="name" placeholder="Chemistry lab" th:field="*{name}">
                </div>
                <div class="col-md-2">
                    <label for="capacity" class="form-label">Capacity, students</label>
                    <input type="text" class="form-control" id="capacity" placeholder="30" th:field="*{capacity}">
                </div>
            </div>

            <!--location controls group-->
            <div class="col-md-6">
                <label for="locationid" class="form-label">Select location:</label>
                <div class="input-group">
                    <select class="form-select" name="location.id" id="locationid" th:field="*{location.id}" required>
                        <option th:each="location: ${locations}"
                                th:value="${location.id}"
                                th:text="${location}"></option>
                    </select>
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                            data-bs-target="#AddLocation">Other...
                    </button>
                </div>
            </div>

            <!--Main submit and delete buttons-->
            <div class="row g-3">
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#ModalDelete">Delete classroom
                    </button>
                </div>
            </div>

        </form>
    </div>

    <div class="modal" id="AddLocation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New location</h4>
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form class="row g-3" method="POST" action="/university/locations/create" th:object="${location}">
                        <div class="row">
                            <label for="building" class="form-label">Building name</label>
                            <input type="text" class="form-control" id="building" placeholder="Chemistry building"
                                   th:field="*{building}">
                        </div>
                        <div class="row">
                            <label for="floor" class="form-label">Floor</label>
                            <input type="text" class="form-control" id="floor" placeholder="5"
                                   th:field="*{floor}">
                        </div>
                        <div class="row">
                            <label for="number" class="form-label">Room number</label>
                            <input type="text" class="form-control" id="number" placeholder="10"
                                   th:field="*{roomNumber}">
                        </div>
                        <div class="col-md-5">
                            <input type="submit" class="btn btn-primary" value="Create"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalDelete" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Please confirm</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span>Delete this classroom?</span>
                </div>
                <div class="modal-footer">
                    <form style="margin-left: .75rem;" th:method="POST"
                          th:action="@{/classrooms/delete/{id}(id=${classroom.id})}">
                        <input class="btn btn-danger" type="submit" value="Delete"/>
                    </form>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/university/sources/js/jquery.min.js"></script>
    <script src="/university/sources/js/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>
