<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subjects</title>
    <link href="/university/sources/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>
<div class="container">
    <div class="mt-5">
        <a href="/university/subjects?sort=id" class="btn btn-outline-primary mb-2" role="button">Back to
            subjects...</a>
        <h2 class="text-primary">Subject details</h2>
        <form class="row g-3" method="POST" th:action="@{/subjects/update}" th:object="${subject}">
            <input type="text" class="invisible" style="height:0;width:0;padding:0;border:none" th:field="*{id}">
            <div class="row g-3">
                <div class="col-md-2">
                    <label for="name" class="form-label">Subject name</label>
                    <input type="text" class="form-control" id="name" placeholder="Chemistry lab" th:field="*{name}">
                </div>
                <div class="col-md-4">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" placeholder="30" th:field="*{description}">
                </div>
            </div>
            <div class="row g-3">
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#ModalDelete">Delete subject
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade" id="ModalDelete" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Please confirm</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span>Delete this subject?</span>
                </div>
                <div class="modal-footer">
                    <form style="margin-left: .75rem;" th:method="POST"
                          th:action="@{/subjects/delete/{id}(id=${subject.id})}">
                        <input class="btn btn-danger" type="submit" value="Delete"/>
                    </form>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/university/sources/js/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>