<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <link href='/university/sources/css/fullcalendar.min.css' rel='stylesheet' />
    <script src='/university/sources/js/fullcalendar.min.js'></script>
    <link href="/university/sources/css/bootstrap.min.css" rel="stylesheet">
    <script src="/university/sources/js/bootstrap.bundle.min.js"></script>
    <script th:inline="javascript">

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                events: [
                    // { // this object will be "parsed" into an Event Object
                    //     title: 'The Title',
                    //     start: '2021-10-01T12:30:00',
                    //     end: '2021-10-01T15:00:00'
                    // }



                ],
                initialView: 'dayGridMonth'
            });
            calendar.render();
        });

    </script>
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>

<div class="container mt-5">

<div id='calendar'></div>

</div>
</body>
</html>