<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'/>
    <link href='/university/sources/css/fullcalendar.min.css' rel='stylesheet'/>
    <script src='/university/sources/js/fullcalendar.min.js'></script>
    <link href="/university/sources/css/bootstrap.min.css" rel="stylesheet">
    <script src="/university/sources/js/bootstrap.bundle.min.js"></script>
    <script src="/university/sources/js/jquery.min.js"></script>

</head>
<body>
<header th:insert="fragments/header.html :: header"></header>
<div class="container mt-5">
    <input type="text" class="invisible" style="height:0;width:0;padding:0;border:none" id="period" th:value="${period}">
    <input type="text" class="invisible" style="height:0;width:0;padding:0;border:none" id="date" th:value="${date}">
    <script src="/university/sources/js/rendercalendar.js"></script>
    <div id='calendar'></div>
</div>
</body>
</html>