<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Classrooms</title>
    <link href="/university/sources/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>
<div class="container">
    <div class="mt-5">
        <table class="table table-striped">
            <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Capacity</th>
                <th scope="col">Location</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="classroom : ${classrooms}">
                <th scope="row" class="align-left"><span
                        th:text="${classroom.id}"> </span></th>
                <td class="align-left"><span th:text="${classroom.name}">
						</span></td>
                <td class="align-left"><span th:text="${classroom.capacity}">
						</span></td>
                <td class="align-left"><span
                        th:text="${classroom.location}"> </span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <script src="/university/sources/js/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>
