<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link href="/university/sources/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="mt-5">
        <table class="table table-striped">
            <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Birth date</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Group</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${studentPage}">
                <th scope="row" class="align-left"><span th:text="${student.id}"> </span></th>
                <td class="align-left"><span th:text="${student.getFirstName()}+' '+${student.getLastName()}"></span>
                </td>
                <td class="align-left"><span th:text="${student.getGender()}"></span></td>
                <td class="align-left"><span th:text="${student.getBirthDate()}"></span></td>
                <td class="align-left"><span th:text="${student.getEmail()}"></span></td>
                <td class="align-left"><span th:text="${student.getPhoneNumber()}"></span></td>
                <td class="align-left"><span th:text="${student.getAddress()}"></span></td>
                <td class="align-left"><span th:text="${student.getGroup()}"></span></td>
            </tr>
            </tbody>
        </table>
        <div th:if="${studentPage.totalPages > 0}" class="pagination"
             th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/students(size=${studentPage.size}, page=${pageNumber})}"
               th:text=${pageNumber}
               th:class="${pageNumber==studentPage.number + 1} ? active"></a>
        </div>
    </div>
    <script src="/university/sources/js/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>
