<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teachers</title>
    <link href="/university/sources/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>
<div class="container">
    <div class="mt-5">
        <table class="table table-striped">
            <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Degree</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Subjects</th>
                <th scope="col">Vacations</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="teacher : ${teachers}">
                <th scope="row" class="align-left"><span th:text="${teacher.id}"> </span></th>
                <td class="align-left"><span th:text="${teacher.getFirstName()}+' '+${teacher.getLastName()}"></span>
                </td>
                <td class="align-left"><span th:text="${teacher.getGender()}"></span></td>
                <td class="align-left"><span th:text="${teacher.getDegree()}"></span></td>
                <td class="align-left"><span th:text="${teacher.getEmail()}"></span></td>
                <td class="align-left"><span th:text="${teacher.getPhoneNumber()}"></span></td>
                <td class="align-left"><span th:text="${teacher.getAddress()}"></span></td>
                <td class="align-left"><span th:text="${teacher.getSubjects()}"></span></td>
                <td class="align-left"><span th:text="${teacher.getVacations()}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <script src="/university/sources/js/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>
