<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vacations</title>
    <link href="/university/sources/css/tablesort.css" rel="stylesheet">
    <link href="/university/sources/css/bootstrap.min.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>
<h2 class="text-primary text-center" th:text="'Vacations for '+${teacher.firstName}+' '+${teacher.lastName}"></h2>
<div class="container">
    <div class="mt-5">
        <!--  <a th:href="@{/teachers/newvacation/{id}(id=${teacher.id})}" class="btn btn-outline-primary mb-2" role="button">Create new
              vacation</a> -->
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                data-bs-target="#AddVacation">Add vacation
        </button>

        <div class="modal" id="AddVacation">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"
                            th:text="'New vacation for '+${teacher.firstName}+' '+${teacher.lastName}">
                        </h4>
                        <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3" method="POST" action="/university/teachers/addVacation">
                            <input type="text" class="invisible" style="height:0;width:0;padding:0;border:none"
                                   th:field="*{teacher.id}">
                            <div class="row">
                                <label for="datepicker" class="form-label">Vacation start</label>
                                <input type="text" class="form-control" name="start" id="datepicker">
                            </div>
                            <div class="row">
                                <label for="datepicker2" class="form-label">Vacation end</label>
                                <input type="text" class="form-control" name="end" id="datepicker2">
                            </div>
                            <div class="col-md-5">
                                <input type="submit" class="btn btn-primary" value="Create"/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-striped table-bordered table-sortable">
            <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Start date</th>
                <th scope="col">End date</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vacation : ${teacher.vacations}">
                <td class="align-left"><span th:text="${vacation.id}"></span></td>
                <td class="align-left"><span th:text="${vacation.startDate}"></span></td>
                <td class="align-left"><span th:text="${vacation.endDate}"></span></td>
                <td>
                    <div style="display:flex;">
                        <a class="btn btn-outline-primary" th:href="@{/vacations/{id}(id=${vacation.id})}">Edit/delete...</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script src="/university/sources/js/tablesort.js"></script>
    <script src="/university/sources/js/jquery.min.js"></script>
    <script src="/university/sources/js/jquery-ui.js"></script>
    <script src="/university/sources/js/bootstrap.bundle.min.js"></script>
    <script src="/university/sources/js/datepicker.js"></script>
</div>
</body>
</html>
