<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>University main</title>
    <link href="/university/sources/css/bootstrap.min.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>

<div class="container mt-5">
    <h1 class="text-primary text-center">Get schedule</h1>

    <form class="row g-3" th:action="@{/lectures/schedule}">

        <!-- Radio to select teachers or students -->
        <div class="select-entity col-md-2">
            <label for="entity" class="form-label">Generate schedule for</label><br/>
            <label class="form-check-label" id="entity">
                <input type="radio" name="entity" value="student"
                       onclick="getElementById('person').setAttribute('list', 'students');selectStudentOrTeachers()"
                       required>Student
            </label>
            <br/>
            <label class="form-check-label">
                <input type="radio" name="entity" value="teacher"
                       onclick="getElementById('person').setAttribute('list', 'teachers');selectStudentOrTeachers()"
                       required>Teacher
            </label>
        </div>

        <!-- Person search -->
        <div class="form-group col-md-4">
            <label for="person" class="form-label">Choose person</label>
            <select size="5" id="person" list="students" class="form-control" required name="id"
                    onclick="selectStudentOrTeachers()">
                <option class="students"
                        th:each="student: ${students}"
                        th:text="${student.firstName} + ' ' + ${student.lastName}"
                        th:value="${student.id}">
                </option>
                <option class="teachers"
                        th:each="teacher: ${teachers}"
                        th:text="${teacher.firstName} + ' ' + ${teacher.lastName}"
                        th:value="${teacher.id}">
                </option>
            </select>
        </div>

        <div class="input-group col -md-2">
            <input type="text" class="form-control" id="datepicker" name="startDate" placeholder="Schedule start">
            <input type="text" class="form-control" id="datepicker2" name="endDate"  placeholder="Schedule end">
            <input type="submit" class="btn btn-primary" value="Submit"/>
        </div>
    </form>
</div>


<div class="container">
    <script src="/university/sources/js/homepageselector.js"></script>
    <script src="/university/sources/js/jquery.min.js"></script>
    <script src="/university/sources/js/jquery-ui.js"></script>
    <script src="/university/sources/js/bootstrap.bundle.min.js"></script>
    <script src="/university/sources/js/datepicker.js"></script>


</div>
</body>
</html>
