<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vacations</title>
    <link href="/university/sources/css/tablesort.css" rel="stylesheet">
    <link href="/university/sources/css/bootstrap.min.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>
<h2 class="text-primary text-center" th:text="'Vacations for '+${teacher.firstName}+' '+${teacher.lastName}"></h2>
<div class="container mt-5">

    <table class="table table-striped table-bordered table-sortable">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Start date</th>
            <th scope="col">End date</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vacation : ${teacher.vacations}">
            <td class="align-left"><span th:text="${vacation.id}"></span></td>
            <td class="align-left"><span th:text="${vacation.startDate}"></span></td>
            <td class="align-left"><span th:text="${vacation.endDate}"></span></td>
            <td>
                <form th:method="POST"
                      th:action="@{/vacations/delete/{id}(id=${vacation.id})}">
                    <input class="btn btn-outline-danger" type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <form class="input-group g-3" method="POST" th:action="@{/vacations/create/{id}(id=${teacher.id})}"
          th:object="${vacation}">
        <input type="text" class="invisible" style="height:0;width:0;padding:0;border:none" th:value="123">
        <input type="text" class="form-control" id="datepicker" th:field="*{startDate}"
               placeholder="Vacation start">
        <input type="text" class="form-control" id="datepicker2" th:field="*{endDate}" placeholder="Vacation end">
        <input type="submit" class="btn btn-primary" value="Append new vacation"/>
    </form>


    <script src="/university/sources/js/tablesort.js"></script>
    <script src="/university/sources/js/jquery.min.js"></script>
    <script src="/university/sources/js/jquery-ui.js"></script>
    <script src="/university/sources/js/bootstrap.bundle.min.js"></script>
    <script src="/university/sources/js/datepicker.js"></script>
</div>
</body>
</html>
