<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lectures</title>
    <link th:href="@{/css/tablesort.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>
<h2 class="text-primary text-center">Lectures</h2>
<div class="container mt-5">
    <a href="/university/lectures/new" class="btn btn-outline-primary mb-2" role="button">Create new
        lecture</a>
    <table class="table table-striped table-bordered table-sortable">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Day</th>
            <th scope="col">Begin time</th>
            <th scope="col">End time</th>
            <th scope="col">Classroom</th>
            <th scope="col">Subject</th>
            <th scope="col">Teacher</th>
            <th scope="col">Groups</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lecture : ${lectures}">
            <td class="align-left"><span th:text="${lecture.id}"> </span>
            </th>
            <td class="align-left"><span th:text="${lecture.date}"></span></td>
            <td class="align-left"><span th:text="${lecture.timeslot.beginTime}"></span></td>
            <td class="align-left"><span th:text="${lecture.timeslot.endTime}"></span></td>
            <td class="align-left"><span th:text="${lecture.classroom.name}"></span></td>
            <td class="align-left"><span th:text="${lecture.subject.name}"></span></td>
            <td class="align-left"><span th:text="${lecture.teacher.firstName}+' '+${lecture.teacher.lastName}"></span>
            </td>
            <td class="align-left"><span th:text="${lecture.groups}"></span></td>
            <td>
                <div style="display:flex;">
                    <a class="btn btn-outline-primary" th:href="@{/lectures/{id}(id=${lecture.id})}">Edit/delete...</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="/university/lectures/replacement" class="btn btn-outline-primary mb-2" role="button">Teacher replacements...</a>

    <script th:src="@{/js/tablesort.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</div>
</body>
</html>
