<div th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand">Menu</a>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link"
                                        href="/university/classrooms?sort=id">Classrooms</a></li>
                <li class="nav-item"><a class="nav-link"
                                        href="/university/subjects?sort=id">Subjects</a></li>
                <li class="nav-item"><a class="nav-link"
                                        href="/university/groups?sort=id">Groups</a></li>
                <li class="nav-item"><a class="nav-link"
                                        href="/university/students?sort=id">Students</a></li>
                <li class="nav-item"><a class="nav-link"
                                        href="/university/teachers?sort=id">Teachers</a></li>
                <li class="nav-item"><a class="nav-link"
                                        href="/university/lectures?sort=id">Lectures</a></li>
                <li class="nav-item"><a class="nav-link"
                                        href="/university/holidays?sort=id">Holidays</a></li>
            </ul>
        </div>
    </nav>
</div>