<div th:fragment="header">
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand">Menu</a>
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link"
					href="/university/classrooms">Classrooms</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/university/subjects">Subjects</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/university/groups">Groups</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/university/students">Students</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/university/teachers">Teachers</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/university/lectures">Lectures</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/university/holidays">Holidays</a></li>
			</ul>
		</div>
	</nav>
	</div>