<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Group</title>
    <link href="/university/sources/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/header.html :: header"></header>
<div class="container">
    <div class="mt-5">
        <a href="/university/groups" class="btn btn-outline-primary mb-2" role="button">Back to groups...</a>
        <h2 class="text-primary">Create new group</h2>
        <form class="form-group" method="POST" action="/university/groups/create" th:object="${group}">
            <label for="name" class="mb-2">Group name: </label>
            <input type="text" id="name" th:field="*{name}"/><br/>
            <input type="submit" class="btn btn-primary mt-2" value="Create"/>
        </form>
    </div>
    <script src="/university/sources/js/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>